# --- Fichiers temporaires ---
*.log
*.tmp
*.bak
*.swp

# --- Fichiers système (Mac / Windows) ---
.DS_Store
Thumbs.db
Desktop.ini

# --- Dossiers de dépendances (JavaScript/Node.js) ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Dossiers de build / distribution ---
dist/
build/
out/

# --- Environnements virtuels (Python) ---
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/


# --- Autres caches ---
.cache/
.tmp/
